.page {
    width: 1000px !important;
}

.planExecutionArea {
    width: 950px;
    font-family: monospace;
    font-size: large;
}

.lineExampleLabel {
    font-family: monospace;
    font-size: large;
}

.mouseCoordsCaptured {
    font-family: monospace;
    font-size: large;
}